<head> 
    <title>SubManager</title>
    <link rel="shortcut icon" href="budget.png">
    <script src="https://kit.fontawesome.com/4b61b8d847.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
    <a href="/dashboard">Home</a>
    <a href="/mysubs/new">Add Subscription</a>
</header>
<body class="main">
    <h1><%= current_user.username %>'s Subscriptions</h1>
    <div class="error">
        <%= @error %>
    </div>
    <%= @confirm %>

    <div>
        <ul>
            <% current_user.subscriptions.each do |sub| %>
                    <li><h2><a href="/mysubs/<%= sub.id %>"><%= sub.name %></a></h2>   
            <% end %> 
        <ul>
    </div>
</body>